<div class="form-div">
<form class="login-form">
  <div>
    <label for="user-name">Username</label>
    <input type="text" id="user-name" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit" id="login-btn" class="btn">Login</button>
  </div>
</form>
<div class="sign-up">
  Not a member? <a href="/signup">Sign Up now!</a>
</div>
</div>
<script src="./JS/login.js"></script>